<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mhoac.cpp.edu.rapid_fitness_mastery">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
